p{
    background-color: #eee;
    width: 350px;
    padding: 10px;
    margin: 10px auto;
    display: block;
    position: relative;
    border-left: 3px solid #ff5353;
}

p::before{
    content:attr(data-person);
    position: absolute;
    left: -100px;
    top: 0;
    background-color: #d5d5d5;
    width: 50px;
    padding: 10px;
}

p::after{
    content:"";
    height: 0;
    width: 0;
    border-color: transparent #ff5353 transparent transparent ;
    border-style: solid;
    border-width:10px ;
    /* background-color:#ff5353 ; */
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -10px;
}

/* p::before{
    content:"";
    position: absolute;
    left: -5px;
    top: 0;
    background-color: #ff5353;
    width: 5px;
    padding: 0;
    height:40px ;
} */