div {
    width: 300px;
    height: 60px;
    margin: 10px auto;
    text-align: center ;
    line-height: 60px;
    
}

div:nth-child(1) {
    background-color: #eee;
}
div:nth-child(2) {
    background-color: red;
}
div:nth-child(3) {
    background-color: #eee;
}