div{
    background-color: #eee;
    margin: 10px auto;
    width: 400px;
    height: 60px;
    text-align: left;
    line-height: 60px;
    position: relative;
    
}

div::first-letter{
    background-color: red;
    color: white;
    padding: 10px;
    margin-left:-15px;
    
}
